<h1>Which area is / has /...?</h1>

<h4>Select your question:</h4>


<h2>Filters -
  <small>
    <a href ng-click="clear()">Clear all filters</a>
  </small>
</h2>

<form>
<div class="row">
  <div class="col-md-2 form-group">
    <label>Area - <a href ng-click="clear('area')">clear</a></label>
    <select class="form-control" multiple ng-model="model.area" ng-options="a | translate:'area' for a in options.area"></select>
    {{ options.area.length }} areas
  </div>

  <div class="col-md-2 form-group">
    <label>Table - <a href ng-click="clear('table')">clear</a></label>
    <select class="form-control" ng-model="model.table" ng-options="a | translate:'table' for a in options.table" ng-change="refresh()"></select>
    {{ options.table.length }} tables
  </div>

  <div class="col-md-2 form-group">
    <label>Column - <a href ng-click="clear('column')">clear</a></label>
    <select class="form-control" ng-model="model.column" ng-options="a | translate:'column' for a in options.column" ng-change="refresh()"></select>
    {{ options.column.length }} columns
  </div>

  <div class="col-md-2 form-group">
    <label>Row - <a href ng-click="clear('row')">clear</a></label>
    <select class="form-control" ng-model="model.row" ng-options="a | translate:'row' for a in options.row" ng-change="refresh()"></select>
    {{ options.row.length }} rows
  </div>
</div>
</form>


<div class="row">
  <div class="col-md-4">
    <button ng-click="refresh()">Refresh</button>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <button ng-click="plot()">Plot</button>
  </div>
</div>

<div class="row">
  <p></p>

  <pre>
    {{ response}}
    </pre>
</div>
