<h1>Which area is / has /...?</h1>

<h4>Select your question:</h4>

<div class="row">
  <div class="col-md-4">
    <button ng-click="refresh()">Refresh</button>
  </div>
</div>

<style type="text/css">
  #chart div {
    font: 12px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 0px;
    margin: 4px;
    color: white;
  }
  #chart .bar2 {
    margin: 0;
    padding: 0;
    background-color: red;
  }
</style>

<div class="row">
  <div class="col-md-4">
    <div id="chart" style="">
    </div>
  </div>
</div>

<div class="row">
  <p></p>

  <pre>
    {{ response}}
  </pre>
</div>
